.salidas-container {
    width: 95%;
    max-width: 350px;
    background: white;
    padding: 15px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    margin-bottom: 20px;
}


.salidas-title {
    font-weight: 600;
    margin-bottom: 12px;
    color: #333;
    text-align: center;
    font-size: 15px;
}

.salidas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.salida-option {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    color: #444;
}

.salida-option input {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: var(--primary-color);
}
.plate-continue-button {
    width: 100%;
    padding: 12px;
    background-color: #9e9e9e;
    color: white;
    border: 6px solid #F7B600; 
    border-radius: 8px; 
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    letter-spacing: 1px;
    box-sizing: border-box;
}


.plate-continue-button:not(:disabled) {
    background-color: #F7B600;
    border-color: #F7B600;
}


.plate-continue-button:hover:not(:disabled) {
    background-color: #e6a500;
    transform: translateY(-1px);
}

.plate-continue-button:disabled {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
    color: #666;
    cursor: not-allowed;
    opacity: 0.6;
}